<div class="container">
  <h1><%=current_user.name%>のレビュー</h1>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <% @reviews.each do |review| %>
        <div class="col-md-4">
          <img src="<%= review.image %>" class="card-img" alt="image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= review.title %></h5>
            <p class="card-text"><%= review.author %></p>
            <p class="card-text"><%= link_to review.user.name, "#" %> <%= review.created_at.strftime('%Y/%m/%d') %></p>
            <p class="card-text"><%= review.review %></p>
            <p class="card-text"><%= link_to "削除", review, method: :delete, data: { confirm: "削除しますか？" } %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>