<% provide(:title, "レビュー詳細") %>
<div class="container">
  <div class="main_section">
    <div id="article" class="article">
      <div id="signage">
        <h1 class="title"><%= @review.title %></h1>
        <div class="bottom cf">
          <div class="right txt">
            <span class="author"><%= link_to @review.user.name, @review.user %></span>
            <span class="publish_at"><%= @review.created_at.strftime('%Y/%m/%d') %></span>
          </div>
        </div>
      </div>
      <div class="matin-section">
        <div id="list_content" class="section_list list_basic">
          <div class="body">
            <ul>
              <li class="num">
                <div class="img book">
                  <img src="<%= @review.image %>" alt="image" width="100">
                </div>
                <div class="txt">
                  <div class="detail">
                    <h4><%= @review.title %></h4>
                    <span class="author_text"><%= @review.author %></span>
                    <p><%= @review.description %></p>
                  </div>
                </div>
              </li>
            </ul>
            <p class="review"><%= @review.review %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>